DetectSpotsOrig.m
DetectSpots.m
DefineGrid.m
CorrectIllumination_Calculate.m
CorrectIllumination_Calculate_Batch.m
CountWorms.m
CreateBatchFiles.asv
CreateBatchFiles.m
CreateWebPage.m
Crop.m
DetectSpotsRings.m
ConvertToImage.m
CorrectIllumination_Apply.asv
CorrectIllumination_Apply.m
CorrectIllumination_Apply_FP_v7.m
CorrectIllumination_Calculate.asv
DetectSpotsTest.m
DisplayDataOnImage.m
DisplayGridInfo.m
ApplyThreshold.m
ApplyThresholdGlia.m
Average.m
CalculateMath.m
CalculateRatios.m
CalculateStatistics.m
ClassifyObjects.m
ClassifyObjectsByTwoMeasurements.m
AddHTSAnalysis.asv
AddHTSAnalysis.m
AddHTSExperiment.asv
AddHTSExperiment.m
AddHTSExperimentNONI.m
Align.m
ColorToGray.m
Combine.m
ConvertMicroscopeImages2SSS.asv
ConvertMicroscopeImages2SSS.m
DisplayHistogram.m
DisplayImageHistogram.m
DisplayMeasurement.m
Exclude.m
ExpandOrShrink.m
ExportToACC.m
ExportToExcel.m
FilterByObjectMeasurement.m
.svn/text-base/SplitIntoContiguousObjects.m.svn-base
.svn/text-base/sample_sub.mexw32.svn-base
ExportToDatabase.m
FindEdges.m
Flip.m
GrayToColor.m
IdentifyObjectsInGrid.m
IdentifyPrimAutomatic.m
IdentifyPrimLoG.m
.svn/text-base/TrackObjects.m.svn-base
.svn/text-base/UnifyObjects.m.svn-base
.svn/text-base/sample_sub.c.svn-base
.svn/text-base/sample_sub.mexmac.svn-base
.svn/text-base/sample_sub.mexmaci.svn-base
GroupMovieFrames.m
IdentifyPrimManual.m
IdentifySecPropagateSubfunction.cpp
.svn/text-base/RenameOrRenumberFiles.m.svn-base
.svn/text-base/SpeedUpCellProfiler.m.svn-base
.svn/text-base/SplitOrSpliceMovie.m.svn-base
.svn/text-base/Subtract.m.svn-base
.svn/text-base/SubtractBackground.m.svn-base
IdentifySecPropagateSubfunction.mexa64
IdentifySecPropagateSubfunction.mexglx
IdentifySecPropagateSubfunction.mexmac
IdentifySecPropagateSubfunction.mexmaci
IdentifySecPropagateSubfunction.mexw64
IdentifySecondary.m
IdentifyTertiarySubregion.m
InvertForPrinting.m
InvertIntensity.m
KeepLargestObject.m
LoadSingleImage.asv
LoadImages.m
LoadSingleImage.m
LoadSingleMatrix_FP.m
LoadText.m
MaskImage.m
MeasureCoOccurance.m
Rotate.m
RunMultipleAnalyses.asv
RunMultiplePipelines.asv
SaveImages.asv
SaveImages.m
SendEmail.m
SmoothKeepingEdges.asv
SmoothKeepingEdges.m
SmoothOrEnhance.m
SpeedUpCellProfiler.m
SplitIntoContiguousObjects.m
SplitOrSpliceMovie.m
MedianFilter.m
Resize.m
Restart.m
Subtract.m
SubtractBackground.m
Tile.m
TrackObjects.m
UnifyObjects.m
PlaceAdjacent.m
Relate.m
RenameOrRenumberFiles.m
RescaleIntensity.m
Tile.asv
correctedImageMap.mat
handles_for_ACC_export.mat
handles_test.mat
.svn/text-base/GroupMovieFrames.m.svn-base
.svn/text-base/IdentifyObjectsInGrid.m.svn-base
.svn/text-base/IdentifyPrimAutomatic.m.svn-base
.svn/text-base/IdentifyPrimLoG.m.svn-base
.svn/text-base/IdentifyPrimManual.m.svn-base
.svn/text-base/IdentifySecPropagateSubfunction.cpp.svn-base
.svn/text-base/IdentifySecPropagateSubfunction.dll.svn-base
.svn/
MeasureTexture.m
MedianFilter.asv
Morph.m
OverlayOutlines.m
PauseCellProfiler.m
out.avi
sample_sub.c
sample_sub.mexmac
MeasureCoOccurance.asv
MeasureCorrelation.m
MeasureImageAreaOccupied.m
MeasureImageGranularity.m
MeasureImageIntensity.m
MeasureImageSaturationBlur.m
MeasureObjectAreaShape.m
MeasureObjectIntensity.m
MeasureObjectIntensityCustom.asv
MeasureObjectIntensityCustom.m
MeasureObjectIntensityExtended.asv
MeasureObjectIntensityExtended.m
MeasureObjectNeighbors.m
sample_sub.mexmaci
sample_sub.mexw32
IdentifyAndMeasureNucleoli.m
